/* general legal styles */
.shipping_info a {
	text-decoration: underline
}

/* display price infos smaller */
.tax-shipping-info, 
.unit-price,
.weight-info {
	font-size: 85%;
	line-height: 1em;
	width:100%;
	display:inline-block
}
/* Show Imprint in mobile view */
@media (max-width: 767px) {
	.footer-container #footer h4.active:after {
		content: "";
	}
}

/* product-list grid-view */
ul.product_list.grid .content_price .old-price {
	display: block;
}

ul.product_list.grid .content_price .old-price.product-price,
ul.product_list.grid  > li .product-container .content_price > .price-percent-reduction,
ul.product_list.grid .left-block .delivery-info,
ul.product_list.grid .left-block .weight-info {
	display: none;
}
.grid .delivery-info,
.grid .weight-info {
	width:100%;
	display:inline-block;
	font-size:100%
}

@media (min-width: 1200px) {
	ul.product_list.grid .left-block .tax-shipping-info,
	ul.product_list.grid .left-block .unit-price,
	ul.product_list.grid > li.hovered .right-block .delivery-info,
	ul.product_list.grid > li.hovered .right-block .weight-info {
		display: block;
	}
	
	ul.product_list.grid .right-block .tax-shipping-info,
	ul.product_list.grid .right-block .unit-price,
	ul.product_list.grid .right-block .delivery-info
	ul.product_list.grid .right-block .weight-info {
		display: none;
	}

	ul.product_list.grid .left-block .tax-shipping-info a {
		color: white;
		text-decoration: underline;
	}

}


/* product-list list-view */
ul.product_list.list  > li .product-container .right-block-content .content_price > .price-percent-reduction,
ul.product_list.list .right-block-content .content_price .old-price.product-price {
	display: none;
}

#page ul.product_list.list > li .right-block .right-block-content .content_price .old-price {
	text-decoration:none;
	margin-right:4px;
	margin-bottom: 0
}
#page ul.product_list.list > li .right-block .right-block-content .content_price span {
	margin-bottom:5px
}
.old-price-display {
	text-decoration:line-through
}

ul.product_list.list .left-block .delivery-info,
ul.product_list.list .left-block .weight-info {
	display: none;
}
ul.product_list.list .center-block .delivery-info {
	display: block;
}
/* product-comparison */
#product_comparison .old-price.product-price,
#product_comparison .price-percent-reduction,
#product_comparison .comparison_unit_price {
	display: none;
}
#product_comparison .unit-price {
	color: #333333;
	font-family: "Open Sans",sans-serif;
	font-size: 17px;
	font-style: italic;
}
/* product */
#product #reduction_percent,
#product .unit-price { 
	display:none !important
}

#product .old-price.eu-legal #old_price_display{
	display:inline-block
}

#product .tax-shipping-info {
	display: block;
	font-size: 12px;
	color: #777;
}

#product .unit-price.eu-legal {
	display:block !important;
}

#product #our_price_display {
	margin-bottom: 5px;
	display: inline-block;
}

/* shopping-cart */
#cart_summary .delivery-info {
	display:block;
	margin:6px 0 0
}

table#cart_summary {
	border-width: 5px;
}

/* payment */
table.payment-summary tbody.active td {
	background-color: #E8E8E8;
}